<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickUp Demo Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css">
    <link rel="stylesheet" href="../stylesheets/app.css">
  </head>

  <body>
    <div class="main">
      <header class="site-header">
        <div class="company-logo"></div>
        
        <nav class="site-nav">
          <ul>
            <li>
              <a href="#about" class="nav-link about-nav-link">About</a>
            </li>

            <li>
              <a href="#help" class="nav-link help-nav-link">Help</a>
            </li>

            <li>
              <a href="#features" class="nav-link features-nav-link">Features</a>
            </li>

            <li>
              <a href="#signup" class="nav-link signup-nav-link">Signup</a>
            </li>
          </ul>
        </nav>

        <div class="request-demo-container">
          <a href="#" class="request-demo-button text-center">Request Demo <i class="fas fa-arrow-right"></i></a>
        </div>
      </header>

      <section class="home" id="about">
        <div class="top-about-image bg-image"></div>

        <div class="about-copy-container">
          <h2 class="about-tagline">
            Save your data storage here.
          </h2>

          <p class="about-copy">
            Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others.
          </p>

          <a class="learn-more-button about-learn-more text-center" target="_blank">Learn more</a>
        </div>

        <div class="bottom-about-section-container">
          <div class="bottom-about-image bg-image"></div>

          <div class="bottom-about-copy-container">
            <h3 class="bottom-about-tagline text-center">
              We are a high-level data storage bank
            </h2>

            <p class="bottom-about-copy">
              The place to store various data that you can access at any time through the internet and where you can carry it. This very flexible storage area has a high level of security. To enter into your own data you must enter the password that you created when you registered in this Data Warehouse.
            </p>
          </div>
        </div>
      </section>

      <section id="features">
        <div class="features-tagline-container">
          <h3 class="features-tagline text-center">
            Features
          </h3>

          <p class="features-copy text-center">
            Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.
          </p>
        </div>

        <div class="feature-cards-container">
          <div class="feature-card search-card">
            <div class="feature-card-image search-image bg-image"></div>

            <h4 class="search-tagline">
              Search Data
            </h4>

            <p class="feature-copy search-copy">
              Don’t worry if your data is very large, the Data Warehoue provides a search engine, which is useful for making it easier to find data effectively saving time.
            </p>

            <a class="learn-more-button" target="_blank">Learn more <i class="fas fa-arrow-right"></i></a>
          </div>

          <div class="feature-card access-card">
            <div class="feature-card-image access-image bg-image"></div>

            <h4 class="access-tagline">
              24 Hour Access
            </h4>

            <p class="feature-copy access-copy">
              Access is given 24 hours a full morning to night and meet again in the morning, giving you comfort when you need data when urgent.
            </p>

            <a class="learn-more-button" target="_blank">Learn more <i class="fas fa-arrow-right"></i></a>
          </div>

          <div class="feature-card print-card">
            <div class="feature-card-image print-image bg-image"></div>

            <h4 class="print-tagline">
              Print Out
            </h4>

            <p class="feature-copy print-copy">
              Print out service gives you convenience if someday you need print data, just edit it all and just print it.
            </p>

            <a class="learn-more-button" target="_blank">Learn more <i class="fas fa-arrow-right"></i></a>
          </div>

          <div class="feature-card security-card">
            <div class="feature-card-image security-image bg-image"></div>

            <h4 class="security-tagline">
              Security Code
            </h4>

            <p class="feature-copy security-copy">
              Data Security is one of our best facilities. Allows for your files to be safer. The file can be secured with a code or password that you created, so only you can open the file.
            </p>

            <a class="learn-more-button" target="_blank">Learn more <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </section>

      <section id="testimonials">
        <div class="testimonials-container">
          <h3 class="testimonials-tagline">
            Testimonials
          </h3>

          <div class="testimonials-carousel">
            <div class="splide">
              <div class="splide__track">
                <div class="splide__list">
                  <div class="splide__slide">
                    <div class="slide-content">
                      <div class="slide-avatar avatar-1"></div>
                      <h5 class="slide-title">John Wick</h5>
                      <span class="slide-avatar-info">john@wick.com</span>
                      <p class="slide-copy">
                        Hodor hodor; hodor hodor - hodor, hodor, hodor hodor. Hodor, hodor. Hodor. Hodor hodor hodor hodor; hodor hodor; hodor hodor hodor! Hodor hodor HODOR!
                      </p>
                    </div>
                  </div>

                  <div class="splide__slide">
                    <div class="slide-content">
                      <div class="slide-avatar avatar-2"></div>
                      <h5 class="slide-title">Jeny Doe</h5>
                      <span class="slide-avatar-info">UX Engineer</span>
                      <p class="slide-copy">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </div>

                  <div class="splide__slide">
                    <div class="slide-content">
                      <div class="slide-avatar avatar-3"></div>
                      <h5 class="slide-title">Data Soong</h5>
                      <span class="slide-avatar-info">ltcmdrdata@starfleet.com</span>
                      <p class="slide-copy">
                        Shields up. I recommend we transfer power to phasers and arm the photon torpedoes. Something strange on the detector circuit. The weapons must have disrupted our communicators.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer" id="contact">
        <div class="row top-footer-row">
          <div class="column footer-taglines-column">
            <h3 class="footer-title">
              Try for free!
            </h3>
            <p class="footer-tagline">
              Get limited 1 week free, try our features!
            </p>
          </div>

          <div class="column footer-ctas-column">
            <a class="learn-more-button footer-learn-more text-center" target="_blank">Learn more</a>
            <a href="#" class="request-demo-button footer-request-demo text-center">Request Demo <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>

        <div class="row bottom-footer-row">
          <div class="column address-column">
            <div class="company-logo-container">
              <div class="company-logo"></div>
              <h5 class="company-name">
                DataWarehouse
              </h5>
            </div>

            <p class="street-address">
              <span class="address-line-1">Warehouse Society, 234</span>
              <span class="address-line-2">Bahagia Ave Street PRBW 29281</span>
            </p>

            <p class="contact-info">
              <span class="email">info@warehouse.com</span>
              <span class="phone">1-232-3434 (Main)</span>
            </p>
          </div>

          <div class="column about-column">
            <h5 class="about-title">
              About
            </h5>

            <ul class="listed-links about-links-container">
              <li>
                <a href="#" class="about-link profile-link">Profile</a>
              </li>
                
              <li>
                <a href="#" class="about-link features-link">Features</a>
              </li>

              <li>
                <a href="#" class="about-link careers-link">Careers</a>
              </li>

              <li>
                <a href="#" class="about-link dw-link">DW News</a>
              </li>
            </ul>
          </div>

          <div class="column help-column">
            <h5 class="help-title">
              Help
            </h5>

            <ul class="listed-links help-links-container">
              <li>
                <a href="#" class="help-link profile-link">Support</a>
              </li>
            
              <li>
                <a href="#" class="help-link features-link">Sign up</a>
              </li>
            
              <li>
                <a href="#" class="help-link careers-link">Guide</a>
              </li>
            
              <li>
                <a href="#" class="help-link dw-link">Reports</a>
              </li>

              <li>
                <a href="#" class="help-link careers-link">Q&A</a>
              </li>
            </ul>
          </div>

          <div class="column social-column">
            <h5 class="social-title">
              Social Media
            </h5>

            <div class="social-icons-container">
              <a href="https://www.facebook.com/clickupprojectmanagement/" class="social-icon facebook-icon" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/clickup?lang=en" class="social-icon twitter-icon" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCJC7egHqghye211WgTuXMAw" class="social-icon youtube-icon" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>

      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script src="../javascripts/app.js"></script>
  </body>
</html>
