.home {
  margin-top: 5rem;
}

.about-image {
  background: url(../images/about-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 50%;
}

.about-learn-more {
  color: $c-white;
  background-color: $c-purple;
}
