.top-about-image {
  background: url(../images/about-image.png);
  padding-bottom: 50%;
}

.about-learn-more {
  color: $c-white;
  background-color: $c-purple;
}

.bottom-about-section-container {
  margin-top: 3rem;
  background-color: $light-pink;
  border-radius: $container-border-radius;
}

.bottom-about-image {
  background: url(../images/bottom-about-image.png);
  background-position: center;
  padding-bottom: 50%;
}

.bottom-about-copy {
  padding: 0 3rem 3rem 3rem;
}
