#home {
  position: relative;
}

.top-about-image {
  background-image: url(../images/about-image.png);
  @include desktop__1024 {
    padding-bottom: 25%;
    background-size: contain;
    position: absolute;
    width: 55rem;
    left: 45%;
    right: auto;
  }
}

.about-tagline {
  @include desktop__1024 {
    max-width: 40%;
  }
}

.about-copy-container {
  @include desktop__1024 {
    margin-bottom: 5rem;
  }
}

.about-copy {
  @include desktop__1024 {
    max-width: 37%;
    margin-bottom: 4rem;
  }
}

.about-learn-more {
  color: $c-white;
  background-color: $c-purple;
  border: 0.1rem solid transparent;
  transition: color $animation-duration $animation-ease-function, background-color $animation-duration $animation-ease-function, border $animation-duration $animation-ease-function;

  @include desktop__1024 {
    &:active,
    &:hover,
    &:focus {
      color: $c-purple;
      background-color: $c-white;
      border: 0.1rem solid $c-purple;
    }
  }
}

.bottom-about-section-container {
  margin-top: 3rem;
  background-color: $light-pink;
  border-radius: $container-border-radius;
  @include desktop__1024 {
    position: relative;
    min-height: 50rem;
  }

  @include desktop__1280 {
    min-height: 56rem;
  }

  @include desktop__1440 {
    width: 111.8rem;
  }
}

.bottom-about-image {
  background-image: url(../images/bottom-about-image.png);
  background-position: center;
  @include desktop__1024 {
    position: absolute;
    top: 1rem;
    bottom: auto;
    left: 1rem;
    right: auto;
    width: 30rem;
  }

  @include desktop__1280 {
    width: 35rem;
  }
}

.bottom-about-copy-container {
  @include desktop__1024 {
    max-width: 50%;
    padding-top: 10rem;
    margin-left: auto;
  }
}

.bottom-about-copy {
  padding: 0 3rem 3rem 3rem;
  line-height: 2.9rem;
  @include desktop__1024 {
    padding-left: 0;
  }
}

.bottom-about-tagline {
  @include desktop__1024 {
    text-align: left;
    margin-bottom: 4rem;
  }
}
