.features-tagline-container {
  margin-bottom: $section-separator;
}

.feature-cards-container {
  @include desktop__1024 {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-card {
  border-radius: $container-border-radius;
  min-height: 22rem;
  @include flex-centering('horizontal');
  flex-direction: column;
  padding: 0 2rem 0 6rem;
  margin-bottom: 1.5rem;
  position: relative;
  &:last-of-type {
    margin-bottom: 0;
  }

  @include desktop__1024 {
    width: 35%;
    height: 35.8rem;
    margin-right: 2rem;

    &:before {
      content: '';
      position: absolute;
      background: $c-white;
      top: -2rem;
      bottom: auto;
      left: -2rem;
      width: 4.5rem;
      height: 100%;
      border-radius: $container-border-radius;
      transform: skew(-7.5deg);
    }

    &:nth-child(odd) {
      margin-right: 7rem;
    }

    .learn-more-button {
      width: 12.5rem;
    }
  }
}

.feature-card-image {
  &.bg-image {
    padding-bottom: 0;
  }
  @include desktop__1024 {
    &.bg-image {
      padding-bottom: 25%;
      left: 0;
    }
    @include absolute-centering('vertical');
  }
}

.search-image {
  @include desktop__1024 {
    background-image: url(../images/image3.png);
    width: 23.2rem;
  }
}

.feature-copy {
  margin-top: 0;
  margin-bottom: 0;
}

.search-card {
  background-color: rgba(104,201,186,0.1);
}

.access-card {
  background-color: rgba(156,105,226,0.1);
}

.print-card {
  background-color: rgba(240,99,184,0.1);
}

.security-card {
  background-color: rgba(45,156,219,0.1);
}