.footer {
  margin-top: 5rem;
  border-top: 0.2rem solid rgba($c-purple,0.2);
  @include desktop__1024 {
    margin-top: 15rem;
  }
}

.top-footer-row {
  @include desktop__1024 {
    position: relative;
  }
}

.footer-title {
  @include desktop__1024 {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
}

.footer-learn-more {
  color: $c-white;
  background-color: $standard-pink;
  &:first-of-type {
    margin-right: 2rem;
  }
}

.footer-taglines-column {
  @include desktop__1024 {
    display: inline-block;
  }
}

.footer-ctas-column {
  @include flex-centering('horizontal');

  @include desktop__1024 {
    @include absolute-centering('vertical');
    top: 70%;
    left: auto;
    right: 3rem;
  }
}

.bottom-footer-row {
  margin-top: 5rem;
  span {
    font-size: 1.25rem;
  }

  .company-logo-container {
    position: relative;
    min-height: 4rem;
    @include flex-centering('vertical');
  }

  .company-logo {
    position: absolute;
  }

  .company-name {
    margin-left: 6rem;
  }
}

.street-address,
.contact-info {
  line-height: 2.88rem;
}

.address-line-1,
.address-line-2,
.email,
.phone {
  display: block;
}

.about-title,
.help-title,
.social-title {
  font-size: 1.25rem;
}

.listed-links {
  list-style-type: none;
  padding-left: 1.5rem;
  a {
    display: inline-block;
    margin: 1rem 0;
    font-size: 1.25rem;
  }
  li {
    &:first-of-type {
      a {
        margin-top: 0;
      }
    }
    &:last-of-type {
      a {
        margin-bottom: 0;
      }
    }
  }
}

.social-icons-container {
  @include flex-centering('horizontal');
}

.social-icon {
  position: relative;
  display: inline-block;
  background: rgba($active-link-color,0.1);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  &:last-of-type {
    margin-right: 0;
  }

  i {
    color: $active-link-color;
    @include absolute-centering('both');
  }
}
