.footer {
  margin-top: 5rem;
  border-top: 0.2rem solid rgba($c-purple,0.2);
}

.footer-learn-more {
  color: $c-white;
  background-color: $standard-pink;
  &:first-of-type {
    margin-right: 2rem;
  }
}

.footer-ctas-column {
  @include flex-centering('horizontal');
}

.bottom-footer-row {
  margin-top: 5rem;
  span {
    font-size: 1.25rem;
  }
}

.about-title,
.help-title,
.social-title {
  font-size: 1.25rem;
}

.listed-links {
  list-style-type: none;
  padding-left: 1.5rem;
  a {
    display: inline-block;
    margin: 1rem 0;
    font-size: 1.25rem;
  }
  li {
    &:first-of-type {
      a {
        margin-top: 0;
      }
    }
    &:last-of-type {
      a {
        margin-bottom: 0;
      }
    }
  }
}
