.site-header {
  @include flex-centering('both');
  padding-top: 1rem;
  position: relative;

  .request-demo-container {
    display: none;
    @include desktop__1024 {
      display: block;
    }
  }

  @include desktop__1024 {
    padding-top: 4rem;
  }
}

.mobile-menu-toggle {
  width: 4rem;
  height: 4rem;
  background: $c-white;
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  bottom: auto;
  left: auto;
  right: 0;
  z-index: 100;
  @include desktop__1024 {
    display: none;
  }
  span {
    display: block;
    width: 2.25rem;
    height: 0.2rem;
    background-color: $active-link-color;
    margin: 1.9rem auto;
    opacity: 1;
    transition: opacity $animation-duration $animation-ease-function;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2.25rem;
      height: 0.2rem;
      background-color: $active-link-color;
      transition: transform $animation-duration $animation-ease-function;
    }

    &:before {
      top: 1.2rem;
      bottom: auto;
    }

    &:after {
      top: auto;
      bottom: 1.2rem;
    }
  }

  &.menu-opened {
    span {
      height: 0;
      &:before {
        transform: rotate(-45deg);
        top: 2rem;
      }

      &:after {
        transform: rotate(45deg);
        bottom: 1.8rem;
      }
    }
  }
}

.mobile-menu-drawer {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: -2.5rem;
  width: 20rem;
  height: 100vh;
  padding-top: 5rem;
  background: $inactive-link-color;
  transform: translate(100%);
  transition: transform $animation-duration $animation-ease-function;

  &.drawer-opened {
    transform: translateX(0);
    .request-demo-container {
      display: block;
      @include desktop__1024 {
        display: none;
      }
    }
  }

  @include desktop__1024 {
    display: none;
  }
}

.mobile-nav-link {
  display: inline-block;
  margin: 1rem 0;
  color: $c-white;
}

.site-nav {
  width: 70%;
  display: none;
  ul {
    @include flex-centering;
    list-style-type: none;
    padding-left: 5rem;
    li {
      &:first-of-type {
        a {
          color: $active-link-color;
        }
      }
    }
  }

  .nav-link {
    margin-right: 3rem;
  }

  @include desktop__1024 {
    display: block;
    margin-left: 7.1rem;
  }

  @include desktop__1280 {
    margin-right: 5rem;
    width: 60%;
  }
}
