.site-header {
  @include flex-centering('both');
  padding-top: 1rem;
  position: relative;
}

.mobile-menu-toggle {
  width: 4rem;
  height: 3rem;
  background: $c-white;
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  bottom: auto;
  left: auto;
  right: 0;
  @include desktop__1024 {
    display: none;
  }
  span {
    display: block;
    width: 2.25rem;
    height: 0.2rem;
    background-color: $active-link-color;
    margin: 1.4rem auto;
    opacity: 1;
    transition: opacity $animation-duration $animation-ease-function;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2.25rem;
      height: 0.2rem;
      background-color: $active-link-color;
      transition: transform $animation-duration $animation-ease-function;
    }

    &:before {
      top: 0.75rem;
      bottom: auto;
    }

    &:after {
      top: auto;
      bottom: 0.75rem;
    }
  }

  &.menu-opened {
    span {
      height: 0;
      &:before {
        transform: rotate(-45deg);
        top: 1.4rem;
      }

      &:after {
        transform: rotate(45deg);
        bottom: 1.4rem;
      }
    }
  }
}

.site-nav {
  width: 70%;
  display: none;
  ul {
    @include flex-centering;
    list-style-type: none;
    padding-left: 5rem;
    li {
      &:first-of-type {
        a {
          color: $active-link-color;
        }
      }
    }
  }

  .nav-link {
    margin-right: 3rem;
  }

  @include desktop__1024 {
    display: block;
  }
}
