a,
button {
  font-family: $primary-font;
  font-size: 1.4rem;
  text-decoration: none;
  color: $inactive-link-color;
  @include desktop__1024 {
    font-size: 1.6rem;
  }
}

.request-demo-button {
  display: inline-block;
  width: 15rem;
  padding: 1rem 0;
  background-color: $c-white;
  border-radius: 5rem;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  i {
    color: $c-purple;
    margin-left: 0.75rem;
  }

  @include desktop__1024 {
    width: 18rem;
    padding: 1.3rem 0;
  }
}

.learn-more-button {
  display: inline-block;
  color: $learn-more-link-color;
  background: transparent;
  border-radius: 5rem;
  width: 12rem;
  padding: 1rem 0;
  i {
    color: $c-purple;
    margin-left: 1rem;
  }
  @include desktop__1024 {
    width: 15rem;
    padding: 1.3rem 0;
  }
}