@mixin tablet {
  @media screen and (min-width: 40em) {
    @content;
  }
}

@mixin desktop__1024 {
  @media screen and (min-width: 64em) {
    @content;
  }
}

@mixin desktop__1280 {
  @media screen and (min-width: 80em) {
    @content;
  }
}

@mixin desktop__1440 {
  @media screen and (min-width: 90em) {
    @content;
  }
}

@mixin desktop__1600 {
  @media screen and (min-width: 100em) {
    @content;
  }
}

@mixin flex-centering($alignment: null) {
  display: flex;
  @if($alignment == 'horizontal') {
    justify-content: center;
  }

  @if($alignment == 'vertical') {
    align-items: center;
  }

  @if($alignment == 'both') {
    justify-content: center;
    align-items: center;
  }
}
