@mixin tablet {
  @media screen and (min-width: 40em) {
    @content;
  }
}

@mixin desktop__1024 {
  @media screen and (min-width: 64em) {
    @content;
  }
}

@mixin desktop__1280 {
  @media screen and (min-width: 80em) {
    @content;
  }
}

@mixin desktop__1440 {
  @media screen and (min-width: 90em) {
    @content;
  }
}

@mixin desktop__1600 {
  @media screen and (min-width: 100em) {
    @content;
  }
}

@mixin flex-centering($alignment: null) {
  display: flex;
  @if($alignment == 'horizontal') {
    justify-content: center;
  }

  @if($alignment == 'vertical') {
    align-items: center;
  }

  @if($alignment == 'both') {
    justify-content: center;
    align-items: center;
  }
}

@mixin absolute-centering($alignment: null) {
  position: absolute;
  right: auto;
  bottom: auto;
  @if($alignment == 'horizontal') {
    left: 50%;
    transform: translateX(-50%);
  }

  @if($alignment == 'vertical') {
    top: 50%;
    transform: translateY(-50%);
  }

  @if($alignment == 'both') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
