.splide__pagination {
  bottom: -3.2rem;
}

.splide__arrow {
  top: auto;
  bottom: -4rem;
  transform: none;
}

.splide__arrow--prev,
.splide__arrow--next {
  background: transparent;
  background-repeat: no-repeat;
  z-index: 100;
  svg {
    display: none;
  }
}

.splide__arrow--prev {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='long-arrow-alt-left' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-long-arrow-alt-left fa-w-14 fa-2x'%3E%3Cpath fill='%23ffffff' d='M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z' class=''%3E%3C/path%3E%3C/svg%3E");
  &[disabled] {
    background-size: 50% 100%;
    background-position: center;
    opacity: 0.5;
    pointer-events: none;
  }
}

.splide__arrow--next {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='long-arrow-alt-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-long-arrow-alt-right fa-w-14 fa-2x'%3E%3Cpath fill='%23ffffff' d='M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z' class=''%3E%3C/path%3E%3C/svg%3E");
  &[disabled] {
    background-size: 50% 100%;
    background-position: center;
    opacity: 0.5;
    pointer-events: none;
  }
}

.splide__pagination__page {
  background: $c-white;
  width: 0.5rem;
  height: 0.5rem;
  &.is-active {
    background: $standard-pink;
    opacity: 1;
    transform: scale(2);
  }
}
