#testimonials {
  margin-top: 5rem;

  @include desktop__1024 {
    margin-top: 15rem;
  }
}

.testimonials-container {
  background-color: $c-purple;
  border-radius: $container-border-radius;
  min-height: 40rem;
  padding-bottom: 5rem;
  position: relative;
  &:before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    width: 20rem;
    height: 85%;
    border-top-right-radius: $container-border-radius;
    background: linear-gradient(0.25turn, transparent, $c-purple);
    z-index: 10;
  }
  @include desktop__1024 {
    min-height: 70.9rem;
    &:before {
      display: block;
    }
  }
}

.testimonials-tagline {
  color: $c-white;
  padding: 4rem 2rem 2rem;
  @include desktop__1024 {
    padding-top: 10rem;
    padding-left: 9.3rem;
    padding-bottom: 10rem;
    margin: 0;
  }
}

.testimonials-carousel {
  position: relative;
  @include desktop__1024 {
    padding-left: 7.5rem;
  }
}

.splide__slide {
  padding: 0 2rem;
  @include desktop__1024 {
    margin-right: 10rem;
  }

  @include desktop__1280 {
    margin-right: 11rem;
    padding: 0;
  }
}

.slide-title {
  margin-bottom: 0.5rem;
  @include desktop__1024 {
    padding-left: 5rem;
  }
}

.slide-content {
  background-color: $c-white;
  border-radius: 2rem;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include desktop__1024 {
    min-height: 33rem;
    width: 40rem;
    padding: 1rem 2rem 1rem 4rem;
  }

  @include desktop__1280 {
    width: 52.5rem;
  }

  @include desktop__1600 {
    width: 64.5rem;
  }
}

.slide-copy {
  line-height: 3.2rem;
  @include desktop__1024 {
    padding-left: 5rem;
  }
}

.slide-avatar {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  top: 2rem;
  bottom: auto;
  left: auto;
  right: 5rem;
  @include desktop__1024 {
    top: 5rem;
    left: 4rem;
    right: auto;
  }

  @include desktop__1280 {
    left: 3rem;
  }
}

.avatar-1 {
  background-image: url(../images/j_wick.png);
  padding-bottom: 0;
  width: 4.6rem;
  height: 4.6rem;
  @include desktop__1024 {
    top: 8rem;
  }

  @include desktop__1280 {
    top: 9.5rem;
  }
}

.avatar-2 {
  background-image: url(../images/ellipse-76.png);
  @include desktop__1280 {
    top: 8.5rem;
  }
}

.avatar-3 {
  background-image: url(../images/tng-data-pipe.png);
  @include desktop__1024 {
    top: 6.5rem;
  }

  @include desktop__1280 {
    top: 10rem;
  }
}

.slide-avatar-info {
  color: $c-purple;
  transition: color $animation-duration $animation-ease-function;
  @include desktop__1024 {
    padding-left: 5rem;
    &:active,
    &:hover,
    &:focus {
      color: $active-link-color;
    }
  }
}
