.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h2 {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 4.5rem;
  margin: 1.5rem 0;
}

p {
  font-family: $primary-font;
  font-weight: normal;
  font-size: 1.6rem;
}
