.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h2,
h3 {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 4.5rem;
  color: #212353;
  margin: 1.5rem 0;
}

h3 {
  font-size: 2.25rem;
  @include desktop__1024 {
    font-size: 4rem;
  }
}

h4 {
  font-family: $primary-font;
  font-size: 2rem;
  font-weight: normal;
  color: #212353;
  margin: 1.5rem 0;
  z-index: 10;
}

h5,
span {
  font-family: $primary-font;
}

h5 {
  font-size: 1.5rem;
  color: #212353;
  font-weight: normal;
}

p {
  font-family: $primary-font;
  font-weight: normal;
  font-size: 1.4rem;
  @include desktop__1024 {
    font-size: 1.6rem;
  }
}

ul {
  list-style-type: none;
}
