$c-white:               #fff;
$c-black:               #000;
$c-purple:              #9C69E2;
$active-link-color:     #212353;
$inactive-link-color:   #4B5D68;
$learn-more-link-color: #212353;
$light-pink:            rgba(240, 99, 184, 0.15);

$animation-time:          0.3s;
$animation-ease-function: linear;

$primary-font:    'Noto Sans JP', sans-serif;
$secondary-font:  Helvetica, sans-serif;

$small-gutter:   2.5rem;
$large-gutter:   15rem;
$xlarge-gutter:  20rem;
$xxlarge-gutter: 25rem;
$full-gutter:    27rem;

$container-border-radius: 5rem;
