@mixin tablet {
  @media screen and (min-width: 40em) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 64em) {
    @content;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
