@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'links';
@import 'typography';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.main {
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.nav-site-icon-container {
  position: relative;
  width: 5rem;
  &:before,
  &:after {
    content: '';
    position: absolute;
    border-radius: 2rem;
    top: auto;
    bottom: -1.5rem;
    right: auto;
  }

  &:before {
    left: 0;
    width: 2rem;
    height: 2rem;
    background-color: #9C69E2;
  }

  &:after {
    right: 0;
    width: 2rem;
    height: 3.5rem;
    background-color: #F063B8;
  }
}

.main {
  margin-left: $small-left-margin;
  @include desktop__1024 {
    margin-left: $large-left-margin;
  }

  @include desktop__1280 {
    margin-left: $xlarge-left-margin;
  }

  @include desktop__1440 {
    margin-left: $xxlarge-left-margin;
  }

  @include desktop__1600 {
    margin-left: $full-left-margin;
  }
}

.site-header {
  @include flex-centering('vertical');
}

.site-nav {
  width: 70%;
  ul {
    @include flex-centering;
    list-style-type: none;
    padding-left: 5rem;
    li {
      &:first-of-type {
        a {
          color: $active-link-color;
        }
      }
    }
  }

  .nav-link {
    margin-right: 3rem;
  }
}

.request-demo-container {
  // @include flex-centering('vertical');
}

.request-demo-button {
  display: inline-block;
  width: 21rem;
  padding: 2rem 0;
  background-color: $c-white;
  border-radius: 5rem;
}
