@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'links';
@import 'typography';
@import 'about';
@import 'features';
@import 'testimonials';
@import 'splide';
@import 'footer';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.main {
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

section {
  margin-top: $section-separator;
}

.nav-site-icon-container {
  position: relative;
  width: 5rem;
  padding-bottom: 4rem;
  &:before,
  &:after {
    content: '';
    position: absolute;
    border-radius: 2rem;
    top: auto;
    bottom: 0;
    right: auto;
  }

  &:before {
    left: 0;
    width: 2rem;
    height: 2rem;
    background-color: $c-purple;
  }

  &:after {
    right: 0;
    width: 2rem;
    height: 3.5rem;
    background-color: #F063B8;
  }
}

.main {
  padding: 0 $small-gutter $small-gutter $small-gutter;
  @include desktop__1024 {
    padding-left: $large-gutter;
  }

  @include desktop__1280 {
    padding-left: $xlarge-gutter;
  }

  @include desktop__1440 {
    padding-left: $xxlarge-gutter;
  }

  @include desktop__1600 {
    padding-left: $full-gutter;
  }
}

.site-header {
  @include flex-centering('both');
  padding-top: 1rem;
}

.site-nav {
  width: 70%;
  ul {
    @include flex-centering;
    list-style-type: none;
    padding-left: 5rem;
    li {
      &:first-of-type {
        a {
          color: $active-link-color;
        }
      }
    }
  }

  .nav-link {
    margin-right: 3rem;
  }
}

.request-demo-button {
  display: inline-block;
  width: 15rem;
  padding: 1rem 0;
  background-color: $c-white;
  border-radius: 5rem;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  i {
    color: $c-purple;
  }
}

.bg-image {
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 50%;
}
