@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
.bg-image {
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 50%;
}

a,
button {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: #4B5D68;
}
@media screen and (min-width: 64em) {
  a,
button {
    font-size: 1.6rem;
  }
}

.request-demo-button {
  display: inline-block;
  width: 15rem;
  padding: 1rem 0;
  background-color: #fff;
  border-radius: 5rem;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
.request-demo-button i {
  color: #9C69E2;
  margin-left: 0.75rem;
}
@media screen and (min-width: 64em) {
  .request-demo-button {
    width: 18rem;
    padding: 1.3rem 0;
    position: relative;
  }
  .request-demo-button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    background: rgba(221, 221, 221, 0.5);
    transform-origin: center;
    transform: scale(0);
    transition: transform 0.15s linear;
    z-index: 0;
  }
  .request-demo-button:active:after, .request-demo-button:hover:after, .request-demo-button:focus:after {
    transform: scale(1);
  }
}

.learn-more-button {
  display: inline-block;
  color: #212353;
  background: transparent;
  border-radius: 5rem;
  width: 12rem;
  padding: 1rem 0;
}
.learn-more-button i {
  color: #9C69E2;
  margin-left: 1rem;
}
@media screen and (min-width: 64em) {
  .learn-more-button {
    width: 15rem;
    padding: 1.3rem 0;
  }
}

@media screen and (min-width: 64em) {
  .nav-link {
    position: relative;
  }
  .nav-link:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    top: auto;
    bottom: -0.5rem;
    left: auto;
    right: auto;
    background: #212353;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s linear;
  }
  .nav-link:active:after, .nav-link:hover:after, .nav-link:focus:after {
    transform: scale(1);
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h2,
h3 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  color: #212353;
  margin: 1.5rem 0;
}

h3 {
  font-size: 2.25rem;
}
@media screen and (min-width: 64em) {
  h3 {
    font-size: 4rem;
  }
}

h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #212353;
  margin: 1.5rem 0;
}

h5,
span {
  font-family: "Noto Sans JP", sans-serif;
}

h5 {
  font-size: 1.5rem;
  color: #212353;
  font-weight: normal;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
}
@media screen and (min-width: 64em) {
  p {
    font-size: 1.6rem;
  }
}

ul {
  list-style-type: none;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  position: relative;
}
.site-header .request-demo-container {
  display: none;
}
@media screen and (min-width: 64em) {
  .site-header .request-demo-container {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .site-header {
    padding-top: 4rem;
  }
}

.mobile-menu-toggle {
  width: 4rem;
  height: 3.25rem;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  bottom: auto;
  left: auto;
  right: 0;
  z-index: 100;
}
@media screen and (min-width: 64em) {
  .mobile-menu-toggle {
    display: none;
  }
}
.mobile-menu-toggle span {
  display: block;
  width: 2.25rem;
  height: 0.2rem;
  background-color: #212353;
  margin: 1.5rem auto;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.mobile-menu-toggle span:before, .mobile-menu-toggle span:after {
  content: "";
  position: absolute;
  width: 2.25rem;
  height: 0.2rem;
  background-color: #212353;
  transition: transform 0.3s linear;
}
.mobile-menu-toggle span:before {
  top: 0.75rem;
  bottom: auto;
}
.mobile-menu-toggle span:after {
  top: auto;
  bottom: 0.75rem;
}
.mobile-menu-toggle.menu-opened span {
  height: 0;
}
.mobile-menu-toggle.menu-opened span:before {
  transform: rotate(-45deg);
  top: 1.6rem;
}
.mobile-menu-toggle.menu-opened span:after {
  transform: rotate(45deg);
  bottom: 1.5rem;
}

.mobile-menu-drawer {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: -2.5rem;
  width: 20rem;
  height: 100vh;
  padding-top: 5rem;
  background: #4B5D68;
  transform: translate(100%);
  transition: transform 0.3s linear;
}
.mobile-menu-drawer.drawer-opened {
  transform: translateX(0);
}
.mobile-menu-drawer.drawer-opened .request-demo-container {
  display: block;
}
@media screen and (min-width: 64em) {
  .mobile-menu-drawer.drawer-opened .request-demo-container {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  .mobile-menu-drawer {
    display: none;
  }
}

.mobile-nav-link {
  display: inline-block;
  margin: 1rem 0;
  color: #fff;
}

.site-nav {
  width: 70%;
  display: none;
}
.site-nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 5rem;
}
.site-nav ul li:first-of-type a {
  color: #212353;
}
.site-nav .nav-link {
  margin-right: 3rem;
}
@media screen and (min-width: 64em) {
  .site-nav {
    display: block;
    margin-left: 7.1rem;
  }
}
@media screen and (min-width: 80em) {
  .site-nav {
    margin-right: 5rem;
    width: 60%;
  }
}

#home {
  position: relative;
}

.top-about-image {
  background-image: url(../images/about-image.png);
}
@media screen and (min-width: 64em) {
  .top-about-image {
    padding-bottom: 25%;
    background-size: contain;
    position: absolute;
    width: 55rem;
    left: auto;
    right: 0;
  }
}

@media screen and (min-width: 64em) {
  .about-tagline {
    max-width: 40%;
  }
}

@media screen and (min-width: 64em) {
  .about-copy-container {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 64em) {
  .about-copy {
    max-width: 37%;
    margin-bottom: 4rem;
  }
}

.about-learn-more {
  color: #fff;
  background-color: #9C69E2;
  border: 0.1rem solid transparent;
  transition: color 0.3s linear, background-color 0.3s linear, border 0.3s linear;
}
@media screen and (min-width: 64em) {
  .about-learn-more:active, .about-learn-more:hover, .about-learn-more:focus {
    color: #9C69E2;
    background-color: #fff;
    border: 0.1rem solid #9C69E2;
  }
}

.bottom-about-section-container {
  margin-top: 3rem;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 5rem;
}
@media screen and (min-width: 64em) {
  .bottom-about-section-container {
    position: relative;
    min-height: 50rem;
  }
}
@media screen and (min-width: 80em) {
  .bottom-about-section-container {
    min-height: 56rem;
  }
}

.bottom-about-image {
  background-image: url(../images/bottom-about-image.png);
  background-position: center;
}
@media screen and (min-width: 64em) {
  .bottom-about-image {
    position: absolute;
    top: 1rem;
    bottom: auto;
    left: 1rem;
    right: auto;
    width: 30rem;
  }
}
@media screen and (min-width: 80em) {
  .bottom-about-image {
    width: 35rem;
  }
}

@media screen and (min-width: 64em) {
  .bottom-about-copy-container {
    max-width: 50%;
    padding-top: 10rem;
    margin-left: auto;
  }
}

.bottom-about-copy {
  padding: 0 3rem 3rem 3rem;
  line-height: 2.9rem;
}
@media screen and (min-width: 64em) {
  .bottom-about-copy {
    padding-left: 0;
  }
}

@media screen and (min-width: 64em) {
  .bottom-about-tagline {
    text-align: left;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 64em) {
  #features {
    margin-top: 15rem;
  }
}

.features-tagline-container {
  margin-bottom: 5rem;
}
@media screen and (min-width: 64em) {
  .features-tagline-container {
    margin-right: 10rem;
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 64em) {
  .features-copy {
    width: 52.5rem;
    margin: 0 auto;
  }
}

.feature-copy {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 64em) {
  .feature-cards-container {
    margin-left: -4rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-card {
  border-radius: 5rem;
  min-height: 22rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem 0 6rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.feature-card:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 64em) {
  .feature-card {
    width: 35%;
    height: 35.8rem;
    margin-right: 2rem;
  }
  .feature-card:before {
    content: "";
    position: absolute;
    background: #fff;
    top: -2rem;
    bottom: auto;
    left: -2rem;
    width: 4.5rem;
    height: 100%;
    border-radius: 5rem;
    transform: skew(-7.5deg);
  }
  .feature-card:nth-child(odd) {
    margin-right: 8rem;
  }
  .feature-card .learn-more-button {
    width: 12.5rem;
  }
}

.feature-card-image.bg-image {
  padding-bottom: 0;
}
@media screen and (min-width: 64em) {
  .feature-card-image {
    position: absolute;
    right: auto;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .feature-card-image.bg-image {
    padding-bottom: 25%;
    left: -7.5rem;
    width: 23.2rem;
  }
}

@media screen and (min-width: 64em) {
  .search-image {
    background-image: url(../images/image3.png);
  }
}

@media screen and (min-width: 64em) {
  .access-image {
    background-image: url(../images/image4.png);
  }
}

@media screen and (min-width: 64em) {
  .print-image {
    background-image: url(../images/image5.png);
  }
}

@media screen and (min-width: 64em) {
  .security-image {
    background-image: url(../images/image6.png);
  }
}

.search-card {
  background-color: rgba(104, 201, 186, 0.1);
}

.access-card {
  background-color: rgba(156, 105, 226, 0.1);
}

.print-card {
  background-color: rgba(240, 99, 184, 0.1);
}

.security-card {
  background-color: rgba(45, 156, 219, 0.1);
}

#testimonials {
  margin-top: 15rem;
}

.testimonials-container {
  background-color: #9C69E2;
  border-radius: 5rem;
  min-height: 40rem;
  padding-bottom: 5rem;
  position: relative;
}
.testimonials-container:before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  width: 20rem;
  height: 85%;
  border-top-right-radius: 5rem;
  background: linear-gradient(0.25turn, transparent, #9C69E2);
  z-index: 10;
}
@media screen and (min-width: 64em) {
  .testimonials-container {
    min-height: 70.9rem;
  }
  .testimonials-container:before {
    display: block;
  }
}

.testimonials-tagline {
  color: #fff;
  padding: 4rem 2rem 2rem;
}
@media screen and (min-width: 64em) {
  .testimonials-tagline {
    padding-top: 10rem;
    padding-left: 9.3rem;
    padding-bottom: 10rem;
    margin: 0;
  }
}

.testimonials-carousel {
  position: relative;
}
@media screen and (min-width: 64em) {
  .testimonials-carousel {
    padding-left: 7.5rem;
  }
}

.splide__slide {
  padding: 0 2rem;
}
@media screen and (min-width: 64em) {
  .splide__slide {
    margin-right: 10rem;
  }
}
@media screen and (min-width: 80em) {
  .splide__slide {
    margin-right: 11rem;
    padding: 0;
  }
}

.slide-title {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 64em) {
  .slide-title {
    padding-left: 5rem;
  }
}

.slide-content {
  background-color: #fff;
  border-radius: 2rem;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 64em) {
  .slide-content {
    min-height: 33rem;
    width: 40rem;
    padding: 1rem 2rem 1rem 4rem;
  }
}
@media screen and (min-width: 80em) {
  .slide-content {
    width: 52.5rem;
  }
}
@media screen and (min-width: 100em) {
  .slide-content {
    width: 64.5rem;
  }
}

.slide-copy {
  line-height: 3.2rem;
}
@media screen and (min-width: 64em) {
  .slide-copy {
    padding-left: 5rem;
  }
}

.slide-avatar {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  top: 2rem;
  bottom: auto;
  left: auto;
  right: 5rem;
}
@media screen and (min-width: 64em) {
  .slide-avatar {
    top: 5rem;
    left: 4rem;
    right: auto;
  }
}
@media screen and (min-width: 80em) {
  .slide-avatar {
    left: 3rem;
  }
}

.avatar-1 {
  background-image: url(../images/j_wick.png);
  padding-bottom: 0;
  width: 4.6rem;
  height: 4.6rem;
}
@media screen and (min-width: 64em) {
  .avatar-1 {
    top: 8rem;
  }
}
@media screen and (min-width: 80em) {
  .avatar-1 {
    top: 9.5rem;
  }
}

.avatar-2 {
  background-image: url(../images/ellipse-76.png);
}
@media screen and (min-width: 80em) {
  .avatar-2 {
    top: 8.5rem;
  }
}

.avatar-3 {
  background-image: url(../images/tng-data-pipe.png);
}
@media screen and (min-width: 64em) {
  .avatar-3 {
    top: 6.5rem;
  }
}
@media screen and (min-width: 80em) {
  .avatar-3 {
    top: 10rem;
  }
}

.slide-avatar-info {
  color: #9C69E2;
  transition: color 0.3s linear;
}
@media screen and (min-width: 64em) {
  .slide-avatar-info {
    padding-left: 5rem;
  }
  .slide-avatar-info:active, .slide-avatar-info:hover, .slide-avatar-info:focus {
    color: #212353;
  }
}

.splide__pagination {
  bottom: -2rem;
}
@media screen and (min-width: 64em) {
  .splide__pagination {
    left: 3.5rem;
    bottom: -10rem;
  }
}

.splide__arrow {
  top: auto;
  bottom: -2.75rem;
  transform: none;
}
@media screen and (min-width: 64em) {
  .splide__arrow {
    bottom: -11rem;
  }
}

.splide__arrow--prev,
.splide__arrow--next {
  background: transparent;
  background-repeat: no-repeat;
  z-index: 100;
}
.splide__arrow--prev svg,
.splide__arrow--next svg {
  display: none;
}

.splide__arrow--prev {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='long-arrow-alt-left' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-long-arrow-alt-left fa-w-14 fa-2x'%3E%3Cpath fill='%23ffffff' d='M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z' class=''%3E%3C/path%3E%3C/svg%3E");
}
.splide__arrow--prev[disabled] {
  background-size: 50% 100%;
  background-position: center;
  opacity: 0.5;
  pointer-events: none;
}
@media screen and (min-width: 64em) {
  .splide__arrow--prev {
    left: calc(100% - 9rem);
  }
}

.splide__arrow--next {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='long-arrow-alt-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-long-arrow-alt-right fa-w-14 fa-2x'%3E%3Cpath fill='%23ffffff' d='M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z' class=''%3E%3C/path%3E%3C/svg%3E");
}
.splide__arrow--next[disabled] {
  background-size: 50% 100%;
  background-position: center;
  opacity: 0.5;
  pointer-events: none;
}

.splide__pagination__page {
  background: #fff;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
}
.splide__pagination__page.is-active {
  background: #F063B8;
  opacity: 1;
  transform: scale(2);
}

.footer {
  margin-top: 5rem;
  position: relative;
}
.footer:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: auto;
  left: -2.5rem;
  right: auto;
  width: 100vw;
  height: 0.2rem;
  background: rgba(156, 105, 226, 0.2);
}
@media screen and (min-width: 64em) {
  .footer {
    margin-top: 15rem;
    margin-bottom: 6.4rem;
  }
  .footer:before {
    left: -15rem;
  }
}
@media screen and (min-width: 80em) {
  .footer:before {
    left: -20rem;
  }
}
@media screen and (min-width: 90em) {
  .footer:before {
    left: -25rem;
  }
}
@media screen and (min-width: 100em) {
  .footer:before {
    left: -27rem;
  }
}

.top-footer-row {
  padding-top: 2.5rem;
}
@media screen and (min-width: 64em) {
  .top-footer-row {
    position: relative;
    padding-top: 0;
  }
}

@media screen and (min-width: 64em) {
  .footer-title {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
}

.footer-learn-more {
  color: #fff;
  background-color: #F063B8;
  border: 0.1rem solid transparent;
  transition: color 0.3s linear, background-color 0.3s linear, border 0.3s linear;
}
.footer-learn-more:first-of-type {
  margin-right: 2rem;
}
@media screen and (min-width: 64em) {
  .footer-learn-more:active, .footer-learn-more:hover, .footer-learn-more:focus {
    color: #F063B8;
    background-color: #fff;
    border: 0.1rem solid #F063B8;
  }
}

.footer-taglines-column {
  text-align: center;
}
@media screen and (min-width: 64em) {
  .footer-taglines-column {
    display: inline-block;
    text-align: left;
  }
}

.footer-ctas-column {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 64em) {
  .footer-ctas-column {
    position: absolute;
    right: auto;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    top: 70%;
    left: auto;
    right: 3rem;
  }
}

.bottom-footer-row {
  margin-top: 5rem;
}
.bottom-footer-row span {
  font-size: 1.25rem;
}
.bottom-footer-row .company-logo-container {
  position: relative;
  min-height: 4rem;
  display: flex;
  align-items: center;
}
.bottom-footer-row .company-logo {
  position: absolute;
}
.bottom-footer-row .company-name {
  margin-left: 7rem;
  font-weight: bold;
}
@media screen and (min-width: 64em) {
  .bottom-footer-row {
    margin-top: 10rem;
    margin-left: -8rem;
    display: flex;
    justify-content: space-around;
  }
  .bottom-footer-row .column:not(:first-child) {
    margin-top: 0.8rem;
  }
  .bottom-footer-row .column:not(:first-child) h5 {
    margin-bottom: 3rem;
  }
}

.street-address,
.contact-info {
  line-height: 2.88rem;
}

.address-line-1,
.address-line-2,
.email,
.phone {
  display: block;
}

.about-title,
.help-title,
.social-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.listed-links {
  list-style-type: none;
  padding-left: 1.5rem;
}
.listed-links a {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.25rem;
}
.listed-links li:first-of-type a {
  margin-top: 0;
}
.listed-links li:last-of-type a {
  margin-bottom: 0;
}
@media screen and (min-width: 64em) {
  .listed-links {
    padding-left: 0;
  }
  .listed-links a:active, .listed-links a:hover, .listed-links a:focus {
    text-decoration: underline;
    color: #9C69E2;
  }
}

.social-icons-container {
  display: flex;
  justify-content: center;
}

.social-icon {
  position: relative;
  display: inline-block;
  background: rgba(33, 35, 83, 0.1);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}
.social-icon:last-of-type {
  margin-right: 0;
}
.social-icon i {
  color: #212353;
  position: absolute;
  right: auto;
  bottom: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

section {
  margin-top: 5rem;
}

.company-logo {
  position: relative;
  width: 5rem;
  padding-bottom: 4rem;
}
.company-logo:before, .company-logo:after {
  content: "";
  position: absolute;
  border-radius: 2rem;
  top: auto;
  bottom: 0;
  right: auto;
}
.company-logo:before {
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: #9C69E2;
}
.company-logo:after {
  right: 0;
  width: 2rem;
  height: 3.5rem;
  background-color: #F063B8;
}

.main {
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  padding: 0 2.5rem 2.5rem 2.5rem;
}
@media screen and (min-width: 64em) {
  .main {
    padding-left: 15rem;
  }
}
@media screen and (min-width: 80em) {
  .main {
    padding-left: 20rem;
  }
}
@media screen and (min-width: 90em) {
  .main {
    padding-left: 25rem;
  }
}
@media screen and (min-width: 100em) {
  .main {
    padding-left: 27rem;
  }
}

/*# sourceMappingURL=app.css.map */
